#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: auto;
  gap: 2px;
  padding: 10px;
}

.box {
  background: green;
  color: white;
  padding: 20px;
  font-size: 24px;
}

.b1 {
  grid-column: 1 / 5;
}


.b2 {
  grid-row: 2/ 6;
}

.b3 {
  grid-column: 2 / 3;
}
.b4 {
  grid-column: 3 / 5;
}

.b5 {
  grid-column: 2 / 4;
}
.b6 {
  grid-column: 4/ 5;
}


.b7 {
  grid-column: 2 / 3;
}
.b8 {
  grid-column: 3 / 4;
}
.b9 {
  grid-column: 4 / 4; 
}


.b10 {
  grid-column: 2 / 5;
}
