#grid {
  display: grid;
  grid-template-rows: 124px 124px 124px 124px 124px;
  grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
  grid-gap: 10px 10px;
}

#grid > div {
  background: green;
  color: white;
  font-size: 24px;
  padding: 10px;
}

/* 1st item spans 4 columns */
#grid > div:nth-child(1) {
  grid-column: span 4 / auto;
}

/* 2nd item spans 4 rows */
#grid > div:nth-child(2) {
  grid-row: span 4 / auto;
}

/* 4th item spans 2 columns */
#grid > div:nth-child(4) {
  grid-column: span 2 / auto;
}

/* 5th item spans 2 columns */
#grid > div:nth-child(5) {
  grid-column: span 2 / auto;
}

/* 10th item spans 3 columns */
#grid > div:nth-child(10) {
  grid-column: span 3 / auto;
}
